@import "./src/styles/global";

.container {
  max-width: $site-width;
  min-height: 140px;
  margin: 0 auto;
  padding-top: 30px;
  margin-top: 50px;

  .row {
    text-align: center;
    padding: 5px;
  }

  .link {
    color: $color-palette-1;
    font-size: 17px;
    padding: 1rem;
  }

  .homeButton {
    display: inline-block;
    background-color: $color-palette-1;
    color: $color-palette-5;
    font-weight: 700;
    padding: 1rem;
    border-radius: 7px;
    text-decoration: none;
    margin: 1rem;
  }

  .socialMediaButton {
    display: inline-block;
    background-color: $color-palette-2;
    color: $color-palette-5;
    padding: 1rem;
    border-radius: 7px;
    margin: 0.5rem;
  }
}
